<!DOCTYPE HTML>
<html>
  <head>
    <title> <%= @page_title || "Bike Commuter Database" %> </title>
    <link rel="stylesheet" href="global.css">
  </head>

  <header>
    <div id="top-bar">
      <p id="title">Bike Commuter Database</p>
      <img id="hamburger" src="menu.png">
      <div id="nav_menu">
        <ul id="drop_menu">
          <a href="/cyclists"><li>Manage Cyclists</li></a>
          <a href="/bikes"><li>Manage Bikes</li></a>
          <a href="/rides"><li>Manage Rides</li></a>
        </ul>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
    <script type="text/javascript" src="global.js"></script>
  </body>

  <footer>
    <a href = "/home">Return To Main Menu</a>
  </footer>

</html>
