<!DOCTYPE HTML>
<html>
  <head>
    <title> <%= @page_title || "Bike Commuter Database" %> </title>
    <link rel="stylesheet" href="global.css">
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href = "/home">Return To Main Menu</a>
  </footer>

</html>
