
<h2>Bike Commuter Database</h2>
<br><br>
<p><h3>Welcome!</h3></p>

<p><h4>Please select a menu item:</h4></p>
<ul>
  <a href="/cyclists"><li>Manage Cyclists</li></a>
  <a href="/bikes"><li>Manage Bikes</li></a>
  <a href="/rides"><li>Manage Rides</li></a>
</ul>
